# Секретный ключ Django
SECRET_KEY=

# Режим дебага (указать "True", иначе всегда будет "False")
DEBUG=

# Настройки подключения к базе данных PostgreSQL
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Настройки Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Настройки stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=